/* CSS Document */
.btn_ok
{
	background:url(../images/button/ok.gif) no-repeat 8px center;
	background-color:#f9f9f9;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border:solid 2px #75cd02;
	padding:4px 14px 4px 34px;
	color:#959595;
}

.btn_reset
{
	background:url(../images/button/reset.gif) no-repeat 8px center;
	background-color:#f9f9f9;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border:solid 2px #86c6f7;
	padding:4px 14px 4px 34px;
	color:#959595;
}

.btn_back
{
	background:url(../images/button/back.png) no-repeat 8px center;
	background-color:#f9f9f9;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border:solid 2px #339966;
	padding:4px 14px 4px 34px;
	color:#959595;
}

.input1 {
	height: 22px;
	width: 161px;
	border: 1px solid #99CCFF;
}
.common_input{
	border:1px solid #99CCFF;
	height:18px;
	width:200px;
}

.common_long_input{
	border:1px solid #99CCFF;
	height:20px;
	width:630px;
}
.common_short_input{
	border:1px solid #99CCFF;
	height:18px;
	width:130px;
}
.common_textarea{
	border:1px solid #99CCFF;
	width:84%;
	height:60px;
	max-height:60px;
	max-width:650px;
	min-width:450px;
	min-height:60px;
}
.common_short_textarea{
	border:1px solid #99CCFF;
	width:80%;
	height:60px;
	max-height:60px;
	max-width:300px;
	min-width:250px;
	min-height:60px;
}

.onfoucs{
	border:1px solid #FFCC66;
}

#div_top {
	width: 95%;
	margin:6px 0px 0px 12px;
	height: 30px;
	border:1px solid #99CCFF;
	background-color:#FFFFFF;
	min-width:1024px;
	background-image: url(../images/right_bg.png);
}
#tip{
	width: 96%;
	margin:6px auto;
	text-align:left;
	font:"ו";
	font-weight:bold;
	font-size:12px;
}
#titleBar {
	width: 30%;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0px 0px 20px;
	background: url("../images/doc.gif") no-repeat 0 0px;
	float: left;
	margin: 5px 0 0 6px;
}
#position{
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#div_middle {
	width: 95%;
	margin:10px 0px 0px 12px;
	border:1px solid #99CCFF;
	background-color:#FFFFFF;
	min-width:1024px;
	min-height:450px;
	padding-bottom:18px;
	background-image: url(../images/right_bg.png);
}
#addTable{
	margin:18px auto 0px 100px;
	width:80%;
	font-size:14px;
	border:1px solid #99CCFF;
	border-collapse:collapse;
	background-image: url(../images/right_bg.png);
}
#addTable1{
	margin:30px auto 0px 150px;
	width:57%;
	font-size:14px;
	border:1px solid #99CCFF;
	border-collapse:collapse;
	background-image: url(../images/right_bg.png);
}
#addTable1 th{
	text-align:right;
	line-height:32px;
	background-color:#e5f1f4;
	color:#000000;
}
#addTable th{
	text-align:right;
	line-height:32px;
	background-color:#e5f1f4;
	color:#000000;
}
#addTable td,#addTable1 td{
	padding-left:10px;
	background-image: url(../images/right_bg.png);
}
#addTable td,#addTable th,#addTable1 td,#addTable1 th{
	border:1px solid #99CCFF;
}
#searchTable th{
	text-align:right;
	background-color:#e5f1f4;
	color:#000000;
	font-size:12px;
	border:none;
}
#tab_btn{
	text-align:center;
	line-height:55px;
}
.red{
	color:#FF0000;
	line-height:20px;
	padding:5px;
}
#div_search {
	MARGIN: 10px auto;
	WIDTH: 97%;
	background: url(../images/right_bg.png) repeat;
	border:1px solid #99CCFF;
}
#div_btn {
	MARGIN: 6px auto;
	WIDTH: 97%;
	padding:5px 0px 5px 0px;
	background: url(../images/right_bg.png) repeat;
	border:1px solid #99CCFF;
}

#msg{
	margin:0px 60px 0px 60px;
	font-weight:bold;
	font-size:14;
}

#dataTable{
	MARGIN: 0px auto;
	WIDTH: 97%;
	font-size:14px;
	border-collapse:collapse;
	text-align:center;
	background: url(../images/right_bg.png) repeat;
}
#dataTable td a{
	font-size:12px;
	text-decoration:none;
	font-family:"ו";
	color:#669999;
}
#dataTable td a:hover{
	font-size:12px;
	text-decoration:underline;
	font-family:"ו";
	color:#66CC66;
}
.shadow,.btn_ok,.btn_back,.btn_reset,#div_search,#dataTable,#div_btn,#div_top,#div_middle,#addTable,#addTable1{
-moz-box-shadow:1px 2px 2px #aaa;
	-webkit-box-shadow:1px 2px 2px #aaa;
	box-shadow:1px 2px 2px #aaa;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=270,strength=0)";
	*filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=270,strength=0);
}